<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sign-Up</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Fonts -->
        <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet">

    </head>

    <body>
        
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header header-navbar">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="{{url_for('mainPage')}}">Chitkara University</a>
                </div>

                <!-- Nav links and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="{{url_for('eventList', event_type='upcoming')}}">Upcoming</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{url_for('eventList', event_type='ongoing')}}">Ongoing</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{url_for('eventList', event_type='previous')}}">Previous</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{url_for('loginPage')}}">Login</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container margins">
            <form class="form-horizontal" action="#" method="post">
                <fieldset>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2>Login :</h2><br>
                        </div>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fn">Username:</label>  
                        <div class="col-md-4">
                            <input name="username" type="text" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password:</label>  
                        <div class="col-md-4">
                            <input name="password" type="text" class="form-control input-md" required="">
                        </div>
                    </div>
                    
                    <!-- Button -->
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    
                    <br>
                    
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3>Not a Member yet :</h3>
                        </div>
                    </div>
                    
                    <br>
                    
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a class="btn btn-primary" href="{{url_for('signupPage')}}">Signup</a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    </body>

</html>
