<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="http://punjab.chitkara.edu.in//Storage/Images/favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="{{ url_for('mainPage') }}">F<small>ester</small></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{logged}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if acc_type != 'master' %}
                        <li>
                            <a href="{{url_for('editProfile')}}"><i class="fa fa-fw fa-user"></i> Edit Profile</a>
                        </li>
                        {% endif %} {% if acc_type == 'master' %}
                        <li>
                            <a href="{{url_for('inbox')}}"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{url_for('changePassword')}}"><i class="fa fa-fw fa-gear"></i> Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{url_for('logout')}}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% if acc_type != 'master' %} {% if request.path == url_for('dashboard') %}
                    <li class="active">
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% endif %} {% endif %} {% if acc_type == 'master' %} {% if request.path == url_for('postEvent') %}
                    <li class="active">
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    {% endif %} {% if request.path == url_for('permission') %}
                    <li class="active">
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %} {% elif acc_type == 'eventhead' %} {% if request.path == url_for('sendMessage') %}
                    <li class="active">
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    {% endif %} {% if request.path == url_for('manageEvents') %}
                    <li class="active">
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %} {% elif acc_type == 'teamhead' %} {% if request.path == url_for('manageTeams') %}
                    <li class="active">
                        <a href="{{url_for('manageTeams')}}"><i class="fa fa-fw fa-wrench"></i> Manage Teams</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('manageTeams')}}"><i class="fa fa-fw fa-wrench"></i> Manage Teams</a>
                    </li>
                    {% endif %} {% elif acc_type == 'member' %} {% if request.path == url_for('viewTeams') %}
                    <li class="active">
                        <a href="{{url_for('viewTeams')}}"><i class="fa fa-fw fa-wrench"></i> View Teams</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{url_for('viewTeams')}}"><i class="fa fa-fw fa-wrench"></i> View Teams</a>
                    </li>
                    {% endif %} {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 error">
                        <p>{{error}}</p>
                    </div>
                </div>
                {% block content %} {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
