<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="http://punjab.chitkara.edu.in//Storage/Images/favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="{{ url_for('mainPage') }}">F<small>ester</small></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                {% if acc_type != 'master' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{logged}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{url_for('editProfile')}}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="{{url_for('inbox')}}"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{url_for('logout')}}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% if request.path != url_for('inbox') and request.path != url_for('editProfile') %}
                    {% if request.path == url_for('dashboard') %}
                    <li class="active">
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% elif request.path == url_for('postEvent') %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li class="active">
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% elif request.path == url_for('permission') %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li class="active">
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% elif request.path == url_for('sendMessage') %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li class="active">
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% elif request.path == url_for('manageEvents') or request.path == url_for('editEvent', event_id=event.id) or request.path == url_for('eventOptions', event_id=event.id) or request.path == url_for('createTeam', event_id=event.id) %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li class="active">
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <li>
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if acc_type == 'master' %}
                    <li>
                        <a href="{{url_for('postEvent')}}"><i class="fa fa-fw fa-bar-chart-o"></i> Post Event</a>
                    </li>
                    <li>
                        <a href="{{url_for('permission')}}"><i class="fa fa-fw fa-edit"></i> Revoke Permissions</a>
                    </li>
                    {% endif %}
                    {% if acc_type == 'eventhead' %}
                    <li>
                        <a href="{{url_for('sendMessage')}}"><i class="fa fa-fw fa-desktop"></i> Send Message</a>
                    </li>
                    <li>
                        <a href="{{url_for('manageEvents')}}"><i class="fa fa-fw fa-wrench"></i> Manage Events</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
