{% extends "dashboard/base.html" %} {% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" action="#" method="post">
            <fieldset>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2>Edit Profile :</h2><br>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail:</label>
                    <div class="col-md-4">
                        <input name="email" type="text" class="form-control input-md" required="" value="{{profile.email}}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">First Name:</label>
                    <div class="col-md-4">
                        <input name="f_name" type="text" class="form-control input-md" required="" value="{{profile.f_name}}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name:</label>
                    <div class="col-md-4">
                        <input name="l_name" type="text" class="form-control input-md" required="" value="{{profile.l_name}}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Mobile No.:</label>
                    <div class="col-md-4">
                        <input name="mobile" type="text" class="form-control input-md" required="" value="{{profile.mobile}}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Date of Birth</label>
                    <div class="col-md-4">
                        <input name="dob" type="date" class="form-control input-md" required="" value="{{profile.dob}}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Roll No.:</label>
                    <div class="col-md-4">
                        <input name="rollno" type="text" class="form-control input-md" required="" value="{{profile.rollno}}">
                    </div>
                </div>

                <!-- Multiple Radios (inline) -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Gender:</label> {% if profile.gender == "M" %}
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="M" checked="checked">
                        Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="F">
                        Female
                        </label>
                    </div>
                    {% else %}
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="M">
                        Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="F" checked="checked">
                        Female
                        </label>
                    </div>
                    {% endif %}
                </div>

                <!-- Button -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<!-- /.row -->
{% endblock %}
