{% extends "dashboard/base.html" %} {% block content %}
<!-- Event -->
{% for message in messages %}
<div class="row">
    <div class="col-md-12">
        <h3>{{message.title}}</h3>
        <p class="lead"><small>from</small> <a href="{{url_for('viewProfile', username=message.from_user)}}">{{message.from_user}}</a></p>
        <p>{{message.message}}</p>
        <a class="btn btn-primary" href="{{url_for('deleteMessage', message_id=message.id)}}">Delete</a>
    </div>
</div>
<hr>
<!-- /.row -->
{% endfor %} {% endblock %}
